Source: alex-rs232-reader
Section: unknown
Priority: optional
Maintainer: unknown <pgusev@unknown>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/goosecrew/0x00001000
#Vcs-Browser: https://salsa.debian.org/debian/alex-rs232-reader
#Vcs-Git: https://salsa.debian.org/debian/alex-rs232-reader.git
Rules-Requires-Root: no

Package: alex-rs232-reader
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
